@charset "UTF-8";

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-secondary: hsla(182, 63%, 54%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
}
header{
    background-color: red;
    width: 100%;
    box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.432);
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
}
.head button{
    margin-top: 15px;
}
.head .logo{
   margin-top: 5px;
}
.logo{
    width: 65px;
    height: 65px;
    margin: auto 0;
    border-radius: 5px;
}
.nav{
    margin: auto 0;
    padding: 10px;
    height: 0;
    background-color: red;
    overflow: hidden;
    transition: var(--transition);
}
.nav-show{
    transition: var(--transition);
    height: auto !important;;
}
.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    transform: scale(1.2);
    transform: rotateZ(90deg);
    color: white;
  }

.nav ul li{
    list-style: none;
    text-decoration: none;
    margin: auto 0;
    padding: 0px 10px;
    display: flex;
    padding: 5px 15px;
}
.nav a{
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}
.nav a:hover{
    color: white;
}
.links a{
    transition: var(--transition);
}
.main{ 
    background-color: rgba(167, 167, 167, 0.877);
    margin: 30px auto;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 360px;
    box-shadow: .5px .5px 5px black;
    display: grid;
}
.text{
    text-align: center;
    padding: 15px;
}
.img-desc{
    display: flex;
    margin: 5px auto;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
footer{
    background-color: red;
    margin-top: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 25px;
    font-size: .65em;
    font-weight: 600;
}
@media screen and (min-width: 700px){
    .main{
        background-color: rgba(167, 167, 167, 0.877);
        margin: 115px auto;
        padding-bottom: 50px;
        border-radius: 5px;
        box-shadow: .5px .5px 5px black;
        width: 650px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 85px;
        position: fixed;
        top: 0;
    }
    .nav{
        margin: 5px 0;
        display: flex;
        padding:25px;
    }
    .nav-toggle {
        font-size: 1.5rem;
        color: var(--clr-grey-1);
        background: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;
        display: none;
      }
      .nav ul{
        display: flex;
        flex-direction: row;
    }
      .nav ul li{
        list-style: none;
        text-decoration: none;
        margin: auto 0;
        padding: 0px 10px;
    }
    footer{
        font-size: 1em;
    }
}
@media screen and (min-width: 900px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 85px;
        position: fixed;
        top: 0
    }
    .main{
        background-color: rgba(167, 167, 167, 0.877);
        margin: 115px auto;
        padding-bottom: 50px;
        border-radius: 5px;
        box-shadow: .5px .5px 5px black;
        width: 700px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav{
        margin: 5px 0;
        display: flex;
        padding:25px;
    }
    .nav-toggle {
        font-size: 1.5rem;
        color: var(--clr-grey-1);
        background: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;
        display: none;
      }
      .nav ul{
        display: flex;
        flex-direction: row;
    }
    .nav ul li{
        list-style: none;
        text-decoration: none;
        margin: auto 0;
        padding: 0px 10px;
    }
    footer{
        font-size: 1em;
    }

}