@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background-color: red;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
}
.logo{
    width: 45px;
    height: 45px;
    margin: auto 0;
    border-radius: 5px;
}
.nav{
    margin: auto 0;
}
.nav ul{
    display: flex;
    flex-direction: row;
}
.nav ul li{
    list-style: none;
    text-decoration: none;
    margin: auto 0;
    padding: 0px 4px;
}
.nav a{
    color: black;
    text-decoration: none;
}
.nav a:hover{
    color: white;
    font-size: 1.1em;
}
.main{ 
    background-color: rgba(167, 167, 167, 0.877);
    margin: 1px auto;
    border-radius: 2px;
    width: 400px;
    height: 87.5vw;
    box-shadow: .5px .5px 5px black;
}
.text{
    text-align: center;
    padding: 15px;
}
.img-desc{
    margin: 5px auto;
    width: 250px;
    height: 250px;
}