
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
}
header{
    background-color: red;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
}
.logo{
    width: 45px;
    height: 45px;
    margin: auto 0;
    border-radius: 5px;
}
.nav{
    margin: auto 0;
}
.nav ul{
    display: flex;
    flex-direction: row;
}
.nav ul li{
    list-style: none;
    text-decoration: none;
    margin: auto 0;
    padding: 0px 4px;
}
.nav a{
    color: black;
    text-decoration: none;
}
.nav a:hover{
    color: white;
    font-size: 1.1em;
}
.text{
    text-align: center;
    padding: 5px;
}
.img-desc{
    margin: 5px auto;
    width: 250px;
    height: 250px;
}
.main{
    background-color: rgba(167, 167, 167, 0.877);
    margin: 1px auto;
    border-radius: 2px;
    box-shadow: .5px .5px 5px black;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.text{
    text-align: center;
    margin-bottom: 5px;
}
.grid{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 330px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
img{
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
    border-radius: 5px;

}
.logo{
    border: none;
}
.flip{
    transform: rotateY(-180deg);
}
.img-after{
    backface-visibility: hidden;
    
}
.img-border{
    border: none;
    padding: 1px;
}
.resultText{
    background-color: rgba(196, 194, 194, 0.199);
    margin: 35px auto 25px;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.1em;
}
