
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: url(images/background.jpeg);
    z-index: -2;
    background-size: cover;
    background-position: center;
    
}
.dark{
    margin-left: 10px;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    padding: 5px;
}
.dark-mode{
    background: linear-gradient(rgba(41, 57, 58, 0.5), rgba(0, 0, 0, 0.342)),
    url(images/background.jpeg) center/cover ;
    z-index: -1;
}
header{
    background-color: red;
    width: 100%;
    box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.432);
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
}
.head button{
    margin-top: 15px;
}
.head .logo{
   margin-top: 5px;
}
.logo{
    width: 60px;
    height: 60px;
    margin: auto 0;
    border-radius: 5px;
}

.nav{
    margin: auto 0;
    padding: 10px;
    height: 0;
    background-color: red;
    overflow: hidden;
    transition: var(--transition);
}
.dark-red{
    background-color: darkred;
}
.nav-show{
    transition: var(--transition);
    height: auto !important;;
}
.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
  .nav-toggle:hover {
    transform: scale(1.2);
    transform: rotateZ(90deg);
    color: white;
  }

.nav ul li{
    list-style: none;
    text-decoration: none;
    margin: auto 0;
    padding: 0px 10px;
    display: flex;
    padding: 10px 15px;
}
.nav a{
    color: black;
    font-size: 1.4em;
    text-decoration: none;
}
.nav a:hover{
    color: white;
}
.links a{
    transition: var(--transition);
}
.nav a:hover{
    color: white;
    font-size: 1.4em;
}
.text{
    text-align: center;
    padding: 5px;
}
.img-desc{
    margin: 5px auto;
    width: 250px;
    height: 250px;
}
.main{
    background-color: rgba(167, 167, 167, 0.877);
    margin: 30px auto;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: .5px .5px 5px black;
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.text{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 25px;
}
.grid{
    display: flex;
    margin: 25px auto;
    justify-content: center;
    width: 330px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
img{
    transition: transform .5s;
    transform-style: preserve-3d;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    border-radius: 5px;
}
.logo{
    border: none;
}
.flip{
    transform: rotateY(-180deg);
}
.img-after{
    backface-visibility: hidden;
    
}
.img-border{
    border: 1px solid black;
    padding: 1px;
    margin: 1.2px;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    background-color: rgba(167, 167, 167, 0);
}
.resultText{
    background-color: rgba(196, 194, 194, 0.199);
    margin: 25px auto;
    border-radius: 15px;
    height: 35px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.1em;
    border: .5px solid rgba(0, 0, 0, 0.301);
}
.reset{
    height: 50px;
    width: 50px;
    margin: 5px auto;
    border: 1px solid black;
    box-shadow: inset .3px .3px 10px rgba(0, 0, 0, 0.671);
    border-radius: 50%;
    cursor: pointer;
}
footer{
    background-color: red;
    margin-top: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 45px;
    padding: 0 20px;
    font-size: .65em;
    font-weight: 600;
}

.dark {
    position: relative;
    padding: 10px;
    width: 90px;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 30%;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: rgba(236, 229, 229, 0.555);
    transition: var(--transition);
  }
  .dark span {
    display: inline-block;
    font-size: 0.86rem;
    cursor: pointer;
    text-transform: capitalize;
    color: black;
  }
  .switch {
    position: absolute;
    visibility: hidden;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgb(100, 14, 14);
    border-radius: 35%;
    margin: 0;
    display: block;
    transition: var(--transition);
  }
  .show-switch{
      visibility: visible;
  }
  .slide{
    left: 0;
  }

@media screen and (min-width: 700px){
    .main{
        background-color: rgba(167, 167, 167, 0.877);
        margin: 115px auto;
        padding-bottom: 50px;
        border-radius: 5px;
        box-shadow: .5px .5px 5px black;
        width: 650px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 85px;
        position: fixed;
        top: 0;
    }
    .nav{
        margin: 5px 0;
        display: flex;
        padding:25px;
    }
    .nav-toggle {
        font-size: 1.5rem;
        color: var(--clr-grey-1);
        background: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;
        display: none;
      }
      .nav ul{
        display: flex;
        flex-direction: row;
    }
      .nav ul li{
        list-style: none;
        text-decoration: none;
        margin: auto 0;
        padding: 0px 10px;
    }
    footer{
        font-size: 1em;
    }
    .dark{
        display: none;
    }
}
@media screen and (min-width: 900px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 85px;
        position: fixed;
        top: 0
    }
    .main{
        background-color: rgba(167, 167, 167, 0.877);
        margin: 115px auto;
        padding-bottom: 50px;
        border-radius: 5px;
        box-shadow: .5px .5px 5px black;
        width: 700px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav{
        margin: 5px 0;
        display: flex;
        padding:25px;
    }
    .nav-toggle {
        font-size: 1.5rem;
        color: var(--clr-grey-1);
        background: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;
        display: none;
      }
      .nav ul{
        display: flex;
        flex-direction: row;
    }
    .nav ul li{
        list-style: none;
        text-decoration: none;
        margin: auto 0;
        padding: 0px 10px;
    }
    footer{
        font-size: 1em;
    }
    .dark{
        display: none;
    }
}